<div class="arrowUp">
  <img data-direction="top" data-head="line-large" data-src="https://www.builtbygoat.com/assets/fonts/chevron.svg" src="https://www.builtbygoat.com/assets/fonts/chevron.svg" class="iconic iconic-xxs" alt="Scroll Up Arrow" />
</div>
<div class="arrowDown">
  <img data-direction="bottom" data-head="line-large" data-src="https://www.builtbygoat.com/assets/fonts/chevron.svg" src="https://www.builtbygoat.com/assets/fonts/chevron.svg" class="iconic iconic-xxs" alt=" Scroll Down Arrow" />
</div>