    <div class="align-center category-row row">
      <div class="small-12 large-6 columns category-one">
        <a href="/tag/technology/">Technology</a>
      </div>
      <div class="small-12 large-6 columns category-two">
        <a href="/tag/politics/">Politics</a>
      </div>
    </div>