
<div class="modal fade" id="modal-content" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form action="https://www.123contactform.com/form-1636601/Contact" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <div class="modal-content">
          <div class="modal-header">
            <div id="Modal" class="modal-title text-center h4">
              Step Into the Unknown
            </div>
          </div>
          <div class="modal-body">
            <input type="hidden" name="action" value="verify"/>
            <label id="id123-title14963952" for="id123-control14963952">
              Email
            </label>
            <input id="id123-control14963952" name="control14963952" type="text" class="form-control" placeholder="you@domain.com" required>
            <div class="modal-footer">
              <span class="pull-right">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                  Close
                </button>
              </span>
              <span class="pull-left">
                <button type="submit" class="btn btn-primary">
                  Submit
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>