<div class="site-foot">
  <div class="col-xs-12 col-md-6 pull-left">
    <p class="h6 text-uppercase">
      &#169; 2015 builtby+goat
    </p>
    <p class="tab text-uppercase">
      <a href="https://blog.builtbygoat.com/">
        blog
      </a>
    </p>
    <p class="tab text-uppercase">
      <a href="https://www.builtbygoat.com/background/">
        my background
      </a>
    </p>
    <p class="tab text-uppercase">
      <a href="https://www.builtbygoat.com/projects/">
        my projects
      </a>
    </p>
    <p class="tab text-uppercase">
      <a href="https://www.builtbygoat.com/privacy/">
        privacy policy
      </a>
    </p>
  </div>
  <div class="col-xs-12 col-md-6 pull-right">
    <p class="h6 addthis_horizontal_follow_toolbox text-uppercase"></p>
  </div>
</div>
{{>share}}