<!-- Navigation -->
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://www.builtbygoat.com"><img src="https://www.builtbygoat.com/images/logo.png" alt="Site Logo"></a>
  </div>
  <div class="navbar-end has-text-centered">
    <a class="navbar-item is-uppercase" href="https://www.builtbygoat.com/support/">Get Support</a>
    <a class="navbar-item is-uppercase" href="https://www.builtbygoat.com/resume/">My Resume</a>
    <a class="navbar-item is-uppercase" href="https://www.builtbygoat.com/technical/">About Site</a>
  </div>
</nav>