    <div class="title-bar">
      <header class="header">
        <h1 class="headline">Brett Mahoney</h1>
        <ul class="header-subnav">
          <li><a href="https://www.builtbygoat.com/me/">Me</a></li>
          <li><a href="https://www.builtbygoat.com/" class="is-active"><amp-img src="https://www.builtbygoat.com/images/star.png" alt="Home" class="star" width="16" height="16"></amp-img></a></li>
          <li><a href="https://www.builtbygoat.com/privacy/">Privacy</a></li>
        </ul>
      </header>
    </div>
