  <!-- Navigation -->
  <div class="top-bar">
    <div class="top-bar-left">
      <a href="https://www.builtbygoat.com/"><strong><img src="https://www.builtbygoat.com/assets/images/logo.png" alt="builtbygoat logo"></strong></a>
    </div>
    <div class="top-bar-right">
        <ul class="menu" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
          <li itemprop="name"><a itemprop="url" href="https://www.builtbygoat.com/resume/">My Resume</a></li>
        </ul>
    </div>
  </div>