    <div class="title-bar">
      <header class="header">
        <h1 class="headline">Brett Mahoney</h1>
        <ul class="header-subnav">
          <li><a href="https://blog.builtbygoat.com">Blog</a></li>
          <li><a href="https://www.builtbygoat.com/" class="is-active">Home</a></li>
          <li><a href="https://www.builtbygoat.com/privacy/">Privacy</a></li>
        </ul>
      </header>
    </div>
