    <div class="title-bar" id="top">
      <header class="header">
        <h1 class="headline column small-12 large-6"><a href="{{@blog.url}}"><amp-img src="https://www.builtbygoat.com/images/logo.png" height="48" width="48" alt="Site Logo" class="logo"></amp-img> Mahoney</a></h1>
        <ul class="header-subnav column small-12 large-6">
            <li role="presentation" class="hire"><a href="https://www.builtbygoat.com/support/">Hire Me</a></li>
            <li role="presentation"><a href="https://www.builtbygoat.com/resume/">Resume</a></li>
            <li role="presentation"><a href="https://www.builtbygoat.com/technical/">Technical</a></li>
        </ul>
      </header>
    </div>