<div class="pagination-row">
  <div class="large-12 columns">
    <div class="align-center">
      {{#if prev}}
        <a href="{{page_url prev}}"><span aria-hidden="true">&larr;</span> NEWER POSTS</a> 
      {{/if}}
    </div>
    <div class="align-center">
      {{#if next}}
        <a href="{{page_url next}}">OLDER POSTS <span aria-hidden="true">&rarr;</span></a>
      {{/if}}
    </nav>
  </div>
</div>