<div class="col-xs-12">
  <nav>
    <ul class="pager">
      {{#if prev}}
      <li class="previous">
        <a href="{{page_url prev}}#blog">
          &larr; Previous
        </a>
      </li>
      {{/if}}
      {{#if next}}
      <li class="next">
        <a href="{{page_url next}}#blog">
          Next &rarr;
        </a>
      </li>
      {{/if}}
    </ul>
  </nav>
</div>