{{!< default}} 
<div id="fullpage" data-swiftype-name="body">
  <div class="section">
    <p class="text-center h3">
      This feature has been deprecated. Sorry!
    </p>
  </div>
  <div class="section alt fp-auto-height">
    {{>footer}}
  </div>
</div>