{{!< default}} 
<!-- Error -->
<section class="section has-text-centered">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1>Inconceivable!</h2>
        <p>You have reached a page that does not exist.</p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <h3>Please <a href="https://www.builtbygoat.com/">go back</a> to the home page and try again.</h3>
      </div>
    </div>
  </div>
</section>