{{!< default}}
<!-- Main -->
  <div class="row blue text-center" itemscope itemtype="http://schema.org/Article">
    <div class="columns" itemprop="article">
      <h1 itemprop="articleSection">Fill The Gap In Your Team</h1>
      <p itemprop="articleBody">Hire a tried and tested technical support engineer with experience for your company in Greater Boston, Massachusetts or Rhode Island – Brett Mahoney.</p>   
    </div>
  </div>
  <div class="row gradient">
    <div class="columns">
      <h2>Windows Environment Management</h2>
      <p>Is your office environment primarily Windows-based? <em>I'm a Windows fanatic.</em> The first step in managing your technology needs is ensuring your employees devices are properly set up and maintained.</p>
    </div>
  </div>
  <div class="row grey">
    <div class="columns small-12 medium-4 text-center">
      <h3>Procurement</h3>
      <p><img src="https://www.builtbygoat.com/assets/images/laptop.svg" alt="Laptop Icon" width="64" height="64"></p>
      <p>I've standardized equipment purchasing, purpose-built for business demands. I've purchased computers meant for <strong>Accounting, CAD, and Productivity software</strong>.</p>
    </div>
    <div class="columns small-12 medium-4 text-center">
      <h3>Set-Up</h3>
      <p><img src="https://www.builtbygoat.com/assets/images/monitor.svg" alt="Desktop Icon" width="64" height="64"></p>
      <p>I've developed a multi-point checklist for system setup, to ensure proper deployment. Standardized setup ensures clean environment for employee productivity, minimizing repeat support requests. I've set up over <strong>150 Windows-based computers</strong>.</p>
    </div>
    <div class="columns small-12 medium-4 text-center">
      <h3>Control</h3>
      <p><img src="https://www.builtbygoat.com/assets/images/cloud.svg" alt="Server Icon" width="64" height="64"></p>
      <p>I've deployed permissions-based data sharing for proper access control. I've managed <strong>30+ clients' shared drives</strong>. You need to tailor data access to job requirements.</p>
    </div>
  </div>
  <div class="row gradient">
    <div class="columns">
      <h2>Disaster Recovery Management</h2>
      <p>Are you ready for when your employees devices fail? <em>I'm a bit OCD about data.</em></p>
    </div>
  </div>
  <div class="row grey">
    <div class="columns small-12 medium-4 text-center">
      <h3>Training</h3>
      <p><img src="https://www.builtbygoat.com/assets/images/calendar.svg" alt="Training Icon" width="64" height="64"></p>
      <p>The first step to protecting data is <strong>employee training</strong>. I've written up a 10+ easy-to-understand training PowerPoints ranging from the proactive to the defensive.</p>
    </div>
    <div class="columns small-12 medium-4 text-center">
      <h3>Backup</h3>
      <p><img src="https://www.builtbygoat.com/assets/images/usb.svg" alt="Backup Icon" width="64" height="64"></p>
      <p>Don't lose your data: Use a proper backup solution. I've <strong>managed 50+ backup</strong> systems, with a work-flow procedure to prepare and maintain appliances.</p>
    </div>
    <div class="columns small-12 medium-4 text-center">
      <h3>Recovery</h3>
      <p><img src="https://www.builtbygoat.com/assets/images/page-export-doc.svg" alt="Data Recovery Icon" width="64" height="64"></p>
      <p>A backup is worthless if you can't get your data back. I've <strong>restored 10,000+</strong> files and folders, saving clients dozens of hours in saved productivity.</p>
    </div>
  </div>
  <div class="row gradient">
    <div class="columns">
      <h2>Productivity Suite Management</h2>
      <p>Do you want to streamline and make your business more efficient? <em>I like being prepared.</em></p>
    </div>
  </div>
  <div class="row grey">
    <div class="columns small-12 medium-4 text-center">
      <h3>Software</h3>
      <p><img src="https://www.builtbygoat.com/assets/images/pencil.svg" alt="Microsoft Office Icon" width="64" height="64"></p>
      <p>No business can survive without the basics: Productivity Software. I've deployed <strong>150+ computers with Microsoft Office</strong> and GSuite.</p>
    </div>
    <div class="columns small-12 medium-4 text-center">
      <h3>Services</h3>
      <p><img src="https://www.builtbygoat.com/assets/images/mail.svg" alt="Hosted Exchange Icon" width="64" height="64"></p>
      <p>In addition, email is the lifeline of many business transactions. I've managed <strong>40+ clients</strong> legacy POP mail, Office 365, and GSuite tenants.</p>
    </div>
    <div class="columns small-12 medium-4 text-center">
      <h3>Printing</h3>
      <p><img src="https://www.builtbygoat.com/assets/images/print.svg" alt="Multi-Function Printer Icon" width="64" height="64"></p>
      <p>Did you go entirely digital? Most likely, you haven't. You still print documents out every day. I've managed and deployed small-business printers to multi-function enterprise-grade copiers.</p>
    </div>
  </div>
  <div class="row gradient">
     <div class="columns">
      <h2>Threat Management</h2>
     <p>Did you know that even if you aren't the target, you're still at risk? <em>I've got my propeller hat ready.</em></p>
    </div>
  </div>
  <div class="row grey">
    <div class="columns small-12 medium-4 text-center">
      <h3>Encryption</h3>
      <p><img src="https://www.builtbygoat.com/assets/images/key.svg" alt="Data Encryption Icon" width="64" height="64"></p>
     <p>For clients with legal requirements, data encryption is a must. I've deployed and protected <strong>50+ computers with Microsoft's BitLocker</strong> hard drive encryption suite.</p>
    </div>
    <div class="columns small-12 medium-4 text-center">
      <h3>Firewall</h3>
      <p><img src="https://www.builtbygoat.com/assets/images/shield.svg" alt="Firewall Icon" width="64" height="64"></p>
      <p>Your first line of defense is keeping people out of your network. I've deployed 10+ VPN systems and managed <strong>50+ hardware-based firewall</strong> devices.</p>
    </div>
    <div class="columns small-12 medium-4 text-center">
      <h3>Anti-virus</h3>
      <p><img src="https://www.builtbygoat.com/assets/images/safety-cone.svg" alt="Anti-Virus Icon" width="64" height="64"></p>
      <p>Did you just open that attachment? Well, there's a program there to protect you. I've managed a <strong>900+ device and a 600 device environment</strong> with Symantec and Webroot.</p>
    </div>
  </div>