{{!< default}}
   <div class="small-12 columns vcard white" itemscope itemtype="http://schema.org/Person" id="hcard-brett">
     
     <div class="row row-narrow">
       <div class="small-12 large-4 columns">
         <p class="align-center"><img src="https://www.builtbygoat.com/images/brett.jpg" itemprop="image" height="200" class="img-circle brett" alt="Brett Mahoney Portrait"></p>
       </div>
       <div class="small-12 large-8 columns">
         <h1 class="extra-padding index-author fn n"><span itemprop="name" class="given-name">I'm <strong>Brett Mahoney</strong></span></h1>
         <p class="index-author upper"><span itemprop="jobTitle"><em>Your</em> Tech Support Specialist</span></p>
         <hr class="top-divider">
         <div class="row row-head">
         <div class="small-12 medium-3 columns"><p class="index-author">Location:</p></div>
         <div class="small-12 medium-9 columns"><p class="index-author adr" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality" class="locality"><strong>Greater Boston</strong></span><strong>,</strong> <span itemprop="addressRegion" class="region"><strong>Massachusetts</strong></span></p></div>
         </div>
         <div class="row row-head">
         <div class="small-12 medium-3 columns"><p class="index-author">Experience:</p></div>
         <div class="small-12 medium-9 columns"><p class="index-author"><strong>3 Years</strong></p></div>
         </div>
         <div class="row row-head">
         <div class="small-12 medium-3 columns"><p class="index-author">Contact:</p></div>
         <div class="small-12 medium-9 columns"><p class="index-author"><strong>brett@builtbygoat.com</strong></p></div>
         </div>
       </div> 
       </div>

  </div>
  
    
      {{> "loop"}}
  
      <div class="row">
      <div class="small-12 columns">
        <p class="align-center"><a href="{{@blog.url}}/rss/" target="_blank" rel="noopener"><span class="hide">RSS Feed</span><img src="https://www.builtbygoat.com/images/rss.svg" height="24" width="24" alt="RSS Feed"></a></p>
      </div>
      </div>