{{!< default}}
      <div class="first">
        <div class="large-12 category-column columns">
          {{> categories}}
        </div>
      </div>
    <div class="row loop-row">
      {{> "loop"}}
    </div>