{{!< default}}
<div id="fullpage" data-swiftype-name="body">
  <div class="section landing">
    <p class="text-center h1">
      <img data-src="https://www.builtbygoat.com/assets/fonts/flag.svg" src="https://www.builtbygoat.com/assets/fonts/flag.svg" class="iconic iconic-md" alt="" />
    </p>
    <h1 class="text-center">
      I am Brett, the Goat.
    </h1>
    <p class="text-center h4">My passion is <strong>computers</strong> and helping people understand them.</p>
  </div>
  <div class="section alt">
    <p class="text-center h2">
      <img data-src="https://www.builtbygoat.com/assets/fonts/cpu.svg" src="https://www.builtbygoat.com/assets/fonts/cpu.svg" class="iconic iconic-md" alt="" />
    </p>
    <p class="text-center h4">
      I am knowledgeable in <strong>Windows</strong> technologies. I'm also self-taught in web development and web marketing.
    </p>
  </div>
  <div class="section">
    <p class="text-center h2">
      <img data-src="https://www.builtbygoat.com/assets/fonts/magic-wand.svg" src="https://www.builtbygoat.com/assets/fonts/magic-wand.svg" class="iconic iconic-md" alt="" />
    </p>
    <p class="text-center h4">
      I dig in, research ideas, and <strong>produce quality</strong> results.
    </p>
  </div>
  <div class="section alt">
    <p class="text-center h4">
      If you want to know more about me &rarr; check out <a href="https://www.builtbygoat.com/background">my background</a>.
    </p>
  </div>
</div>
{{>arrow}}