{{!< default}}
<!-- Index -->
<section class="section hero is-uppercase">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third">
        <p class="has-text-centered"><img src="https://www.builtbygoat.com/images/brett.jpg" itemprop="image" height="200" alt="Brett Mahoney Portrait"></p>
      </div>
      <div class="column is-two-thirds hero-sidebar">
        <h1 class="hero-author"><span itemprop="name">I'm <strong>Brett Mahoney</strong></span></h1>
        <p><span itemprop="jobTitle"><em>Your</em> Tech Support Specialist</span></p>
        <hr>
        <div class="columns">
          <div class="column is-one-third hero-info">
            <p>Location:</p>
          </div>
          <div class="column is-two-thirds hero-info">
            <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality"><strong>Greater Boston</strong></span><strong>,</strong> <span itemprop="addressRegion"><strong>Massachusetts</strong></span></p>              </div>
          </div>
          <div class="columns">
            <div class="column is-one-third hero-info">
              <p>Experience:</p>
            </div>
            <div class="column is-two-thirds hero-info">
              <p><strong>3 Years</strong></p>
            </div>
          </div>
          <div class="columns">
            <div class="column is-one-third hero-info">
              <p>Contact:</p>
            </div>
            <div class="column is-two-thirds hero-info">
              <p><strong>brett@builtbygoat.com</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>    
  {{> "loop"}}
<!-- RSS -->
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <p class="has-text-centered"><a href="https://www.builtbygoat.com/rss/" target="_blank" rel="noopener"><img src="https://www.builtbygoat.com/images/rss.svg" height="24" width="24" alt="RSS Feed"></a></p>
          </div>
        </div>
      </div>
    </section>