{{!< default}}
  <div class="row">
      <div class="small-12 columns">
        <h1 itemprop="articleSection" class="align-center">Action Plan For My Career</h1>
        <p itemprop="articleBody">My goal is to work with a great <strong>IT team</strong>. A team I can <strong>add value</strong> to who values its' members and helps them advance. I strive to <strong>make technology </strong> more approachable and manageable.</p>
        </div>
     </div>
      <div class="row">
        <div class="small-12 columns">
          <h2>Past Experience</h2>
          <p>I served as a <strong>U.S. Army Intelligence</strong> specialist, with one tour in Afghanistan. During my Army career, I was certified in <strong>intelligence collections</strong>, <strong>biometrics collections</strong>, and <strong>threat/vulnerability analysis</strong>. I have a Bachelors of Science in <strong>International Management</strong> with a double minor in Economics and Honors. Lastly, I have <strong>managed small organizations</strong>, held training seminars, and have experience in <strong>sales and web marketing</strong>.</p>
        </div>
      </div>
    <div class="row">
      <div class="small-12 large-4 columns">
        <p class="align-center"><img src="https://www.builtbygoat.com/images/intel.png" alt="Military Intelligence Crest" width="140" height="142"></img></p>
      </div>
      <div class="small-12 large-4 columns">
        <p class="align-center"><img src="https://www.builtbygoat.com/images/sf.gif" alt="Special Forces Logo" width="140" height="150"></img></p>
      </div>
      <div class="small-12 large-4 columns">
        <p class="align-center"><img src="https://www.builtbygoat.com/images/umass.png" alt="UMass Boston Logo" width="140" height="183"></img></p>
      </div>
    </div>
    <meta itemprop="url" content="https://www.builtbygoat.com/">
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="name" content="Brett Mahoney">
      <meta itemprop="homeLocation" content="United States">
    </span>
      <div class="row">
        <div class="small-12 columns"> 
          <h2>Technical Knowledge</h2>
          <p>I am <strong>CompTIA A+</strong> certified and a <strong>Microsoft Certified Professional</strong>. My main focus is Windows-based environments from <strong>desktops to servers</strong>. While not a main focus, I also support MacOS and iOS environments. I am a <strong>Certified SonicWall Security Administrator</strong>. Additionally, my self-taught web development knowledge encompasses HTML5, CSS3, JavaScript, and Linux server administration. </p>  
        </div>
      </div>
    <div class="row">
      <div class="small-12 large-4 columns">
        <p class="align-center"><img src="https://www.builtbygoat.com/images/aplus.png" alt="Comptia A+ Certification" width="140" height="137"></img></p>
      </div>
     <div class="small-12 large-4 columns">
        <p class="align-center"><img src="https://www.builtbygoat.com/images/mcp.png" alt="Microsoft Certified Professional" width="223.4" height="146.6"></img></p>
      </div>
      <div class="small-12 large-4 columns">
        <p class="align-center"><img src="https://www.builtbygoat.com/images/sonicwall.png" alt="Certified SonicWall Security Administrator" width="250" height="40" class="sonic"></img></p>
      </div>
    </div>
      <div class="row">
        <div class="small-12 columns">
          <h2>Future Aspirations</h2>
          <p>I am actively increasing my knowledge in <strong>CompTIA Network+</strong> and <strong>CompTIA Security+</strong>. I am driven to enhance my <strong>Windows support, network security practices,</strong> and <strong>web development</strong> expertise. I dig in, research ideas, and produce quality results. Below is a brief list of projects I've worked or am currently working on.</p>
        </div>
      </div>
    <div class="row">
      <div class="small-12 large-4 columns">
        <p class="align-center"><a href="https://www.freecodecamp.org/kaiserhase/" target="_blank" rel="noopener"><img src="https://www.builtbygoat.com/images/fcc.svg" alt="Free Code Camp Website" width="256" height="64"></img></a></p>
      </div>
    <div class="small-12 large-4 columns">
        <p class="align-center"><a href="https://www.codecademy.com/kaiserhase/" target="_blank" rel="noopener"><img src="https://www.builtbygoat.com/images/codecademy.svg" alt="Codecademy Website" width="256" height="64"></img></a></p>
      </div>
    <div class="small-12 large-4 columns">
        <p class="align-center"><a href="https://www.fairoaksit.com/" target="_blank" rel="noopener"><img src="https://www.builtbygoat.com/images/fairoaks.png" alt="Fairoaks IT Website" width="247" height="64"></img></a></p>
      </div>
    </div>