{{!< default}} 
<div id="fullpage" data-swiftype-name="body">
  <div class="section thanks">
    <h1 class="text-center">
      Thank You for your interest in me!
    </h1>
    <p class="text-center h3">
      You may also contact me directly at: <a href="mailto:brett@builtbygoat.com">brett@builtbygoat.com</a>.
    </p>
  </div>
</div>