{{!< default}} 
<div id="fullpage" data-swiftype-name="body">
  <div class="section projects">
    <p class="text-center h2">
      <img data-src="https://www.builtbygoat.com/assets/fonts/browser.svg" src="https://www.builtbygoat.com/assets/fonts/browser.svg" class="iconic iconic-md" alt="" />
    </p>
    <h1 class="text-center">
      Projects
    </h1>
    <p class="text-center h4">
      Here is a list of projects have worked on.
    </p>
  </div>
  <div class="section alt">
    <p class="text-center h2">
      <img data-src="https://www.builtbygoat.com/assets/fonts/codepen.svg" src="https://www.builtbygoat.com/assets/fonts/codepen.svg" class="iconic iconic-md project-svg" alt="" />
    </p>
    <p class="text-center h4">
      A repository of some code snippets I've written.
    </p>
    <p class="text-center h6">
      <a href="http://codepen.io/kaiserhase/" target="_blank" class="btn btn-secondary">
        View Them
      </a>
    </p>
  </div>
  <div class="section">
    <p class="text-center h2">
      <img data-src="https://www.builtbygoat.com/assets/fonts/fcc.svg" src="https://www.builtbygoat.com/assets/fonts/fcc.svg" class="iconic iconic-md project-svg" alt="" />
    </p>
    <p class="text-center h4">
      A full-stack web development program.
    </p>
    <p class="text-center h6">
      <a href="http://www.freecodecamp.com/kaiserhase" target="_blank" class="btn btn-secondary">
        View My Progress
      </a>
    </p>
  </div>
  <div class="section alt">
    <p class="text-center h2">
      <img data-src="https://www.builtbygoat.com/assets/fonts/codecademy.svg" src="https://www.builtbygoat.com/assets/fonts/codecademy.svg" class="iconic iconic-md project-svg" alt="" />
    </p>
    <p class="text-center h4">
      An interactive coding course website.
    </p>
    <p class="text-center h6">
      <a href="http://www.codecademy.com/kaiserhase" target="_blank" class="btn btn-secondary">
        View My Progress
      </a>
    </p>
  </div>
  <div class="section">
    <p class="text-center h3">Don't forget to read my blog &rarr; read it <a href="https://blog.builtbygoat.com/">here</a>.</p>
  </div>
</div>
{{>arrow}}