{{!< default}} 
<!-- Support -->
    <section class="section hero">
      <div class="container">
        <div class="columns" itemscope itemtype="http://schema.org/Article">
          <div class="column has-text-centered" itemprop="article">
            <h1 itemprop="articleSection" class="is-uppercase">Fill The Gap In Your Team</h1>
            <p itemprop="articleBody">Hire a tried and tested technical support engineer with experience for your company in South-Eastern Massachusetts or Rhode Island – Brett Mahoney.</p>   
          </div>
        </div>
      </div>
    </section>
    <section class="section alternative">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h2 class="is-uppercase">Windows Environment Management</h2>
            <p>Is your office device ecosystem primarily Windows? <em>I'm a Windows fanatic.</em> The first step in managing your technology needs is ensuring your employees devices are properly set up and maintained.</p>
          </div>
        </div>
      </div>
    </section>    
    <section class="section">
      <div class="container">
        <div class="columns has-text-centered">
          <div class="column">
            <h3 class="is-uppercase">Procurement</h3>
            <p><img src="https://www.builtbygoat.com/images/laptop.svg" alt="Laptop Icon" width="64" height="64"></p>
            <p>I've standardized equipment purchasing, purpose-built for business demands. I've purchased computers meant for <strong>Accounting, CAD, and Productivity software</strong>.</p>
          </div>
          <div class="column">
            <h3 class="is-uppercase">Set-Up</h3>
            <p><img src="https://www.builtbygoat.com/images/monitor.svg" alt="Desktop Icon" width="64" height="64"></p>
            <p>I've developed a multi-point checklist for system setup, to ensure proper deployment. Standardized setup ensures clean environment for employee productivity, minimizing repeat support requests. I've set up over <strong>100 Windows-based computers</strong>.</p>
          </div>
          <div class="column">
            <h3 class="is-uppercase">Control</h3>
            <p><img src="https://www.builtbygoat.com/images/cloud.svg" alt="Server Icon" width="64" height="64"></p>
            <p>I've deployed permissions-based data sharing for proper access control. I manage <strong>15+ clients' shared drives</strong>. You shouldn't allow every employee to see all of your companies' data.</p>
          </div>
        </div>
      </div>
    </section>    
    <section class="section alternative">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h2 class="is-uppercase">Disaster Recovery Management</h2>
            <p>Are you ready for when your employees devices fail? <em>I'm a bit OCD about data.</em></p>
          </div>
        </div>
      </div>
    </section>    
    <section class="section">
      <div class="container">
        <div class="columns has-text-centered">
          <div class="column">
            <h3 class="is-uppercase">Training</h3>
            <p><img src="https://www.builtbygoat.com/images/calendar.svg" alt="Training Icon" width="64" height="64"></p>
            <p>The first step to protecting data is <strong>employee training</strong>. I've written up a 10+ easy-to-understand training PowerPoints ranging from the proactive to the defensive.</p>
          </div>
          <div class="column">
            <h3 class="is-uppercase">Backup</h3>
            <p><img src="https://www.builtbygoat.com/images/usb.svg" alt="Backup Icon" width="64" height="64"></p>
            <p>Don't lose your data: Use a proper backup solution. I <strong>manage 30+ backup</strong> systems, with a work-flow procedure to prepare and maintain appliances.</p>
          </div>
          <div class="column">
            <h3 class="is-uppercase">Recovery</h3>
            <p><img src="https://www.builtbygoat.com/images/page-export-doc.svg" alt="Data Recovery Icon" width="64" height="64"></p>
            <p>A backup is worthless if you can't get your data back. I've <strong>restored 1,000+</strong> files and folders, saving clients dozens of hours in saved productivity.</p>
          </div>
        </div>
      </div>
    </section>    
    <section class="section alternative">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h2 class="is-uppercase">Productivity Suite Management</h2>
            <p>Do you want to streamline and make your business more effecient? <em>I like being prepared.</em></p>
          </div>
        </div>
      </div>
    </section>    
    <section class="section">
      <div class="container">
        <div class="columns has-text-centered">
          <div class="column">
            <h3 class="is-uppercase">Software</h3>
            <p><img src="https://www.builtbygoat.com/images/pencil.svg" alt="Microsoft Office Icon" width="64" height="64"></p>
            <p>No business can survive without the basics: Productivity Software. I've deployed <strong>100+ computers with Microsoft Office</strong> and Google Apps for Business.</p>
          </div>
          <div class="column">
            <h3 class="is-uppercase">Services</h3>
            <p><img src="https://www.builtbygoat.com/images/mail.svg" alt="Hosted Exchange Icon" width="64" height="64"></p>
            <p>In addition, email is the lifeline of many business transactions. I manage <strong>20+ clients</strong> legacy POP mail, Office 365, and Gmail.</p>
          </div>
          <div class="column">
            <h3 class="is-uppercase">Printing</h3>
            <p><img src="https://www.builtbygoat.com/images/print.svg" alt="Multi-Function Printer Icon" width="64" height="64"></p>
            <p>Did you go entirely digital? Most likely, you haven't. You still print documents out every day. I troubleshoot and deploy countless printers monthly.</p>
          </div>
        </div>
      </div>
    </section>     
    <section class="section alternative">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h2 class="is-uppercase">Threat Management</h2>
            <p>Did you know that even if you aren't the target, you're still at risk? <em>I've got my propeller hat ready.</em></p>
          </div>
        </div>
      </div>
    </section>    
    <section class="section">
      <div class="container">
        <div class="columns has-text-centered">
          <div class="column">
            <h3 class="is-uppercase">Encryption</h3>
            <p><img src="https://www.builtbygoat.com/images/key.svg" alt="Data Encryption Icon" width="64" height="64"></p>
            <p>For clients with legal requirements, data encryption is a must. I deployed and protect <strong>25+ computers with Microsofts' BitLocker</strong>.</p>
          </div>
          <div class="column">
            <h3 class="is-uppercase">Firewall</h3>
            <p><img src="https://www.builtbygoat.com/images/shield.svg" alt="Firewall Icon" width="64" height="64"></p>
            <p>IYour first line of defence is keeping people out of your network. I've deployed 5+ VPN systems and manage <strong>30+ hardware-based firewall</strong> devices.</p>
          </div>
          <div class="column">
            <h3 class="is-uppercase">Anti-virus</h3>
            <p><img src="https://www.builtbygoat.com/images/safety-cone.svg" alt="Anti-Virus Icon" width="64" height="64"></p>
            <p>Did you just open that attachment? Well, there's a program there to protect you. I manage a <strong>700+ device environment</strong> with Symantec Endpoint Protection (Cloud).</p>
          </div>
        </div>
      </div>
    </section>   