{{!< default}} 
      <div class="row" itemscope itemtype="http://schema.org/Article">
      <div class="small-12 columns" itemprop="article">
        <h1 itemprop="articleSection" class="align-center">Fill The Gap In Your Team</h1>
        <p itemprop="articleBody">Hire a tried and tested technical support engineer with experience for your company in South-Eastern Massachusetts or Rhode Island – Brett Mahoney.</p>
        </div>
     </div>
       <div class="row">
        <div class="small-12 columns"> 
          <h2>Windows Environment Management</h2>
          <p>Is your office device ecosystem primarily Windows? <em>I'm a Windows fanatic.</em> I've developed a 40-point tailored checklist for system setup, to ensure proper deployment. I've set up over <strong>100 Windows-based computers</strong> with this procedure. I've standardized equipment purchase purpose-built for business demands. I've purchased computers meant for <strong>Accounting, CAD, and Productivity software</strong>, while keeping costs minimal. I've developed permissions-based data sharing for proper access control. I manage <strong>15+ clients' shared drives</strong>.</p>  
        </div>
      </div>
    <div class="row">
      <div class="small-6 large-4 columns">
        <p class="align-center"><img src="https://www.builtbygoat.com/images/laptop.svg" alt="Laptop Icon" width="128" height="128"></p>
      </div>
     <div class="small-6 large-4 columns">
        <p class="align-center"><img src="https://www.builtbygoat.com/images/monitor.svg" alt="Desktop Icon" width="128" height="128"></p>
      </div>
      <div class="small-12 large-4 columns">
        <p class="align-center"><img src="https://www.builtbygoat.com/images/cloud.svg" alt="Server Icon" width="128" height="128"></p>
      </div>
    </div>
        <div class="row">
        <div class="small-12 columns"> 
        <h2>Disaster Recovery Management</h2>
        <p>Are you ready for when your employees devices fail? <em>I'm a bit OCD about data.</em> The first step to protecting data is <strong>employee training</strong>. I've written up a 10+ easy-to-understand training PowerPoints ranging from the proactive to the defensive. Don't lose your data: Use a proper backup solution. I <strong>manage 30+ backup</strong> systems, with a work-flow procedure to prepare and maintain appliances.</p>  
        </div>
      </div>
    <div class="row">
      <div class="small-6 large-4 columns">
        <p class="align-center"><img src="https://www.builtbygoat.com/images/calendar.svg" alt="Training Icon" width="128" height="128"></p>
      </div>
     <div class="small-6 large-4 columns">
        <p class="align-center"><img src="https://www.builtbygoat.com/images/usb.svg" alt="Backup Icon" width="128" height="128"></p>
      </div>
      <div class="small-12 large-4 columns">
        <p class="align-center"><img src="https://www.builtbygoat.com/images/page-export-doc.svg" alt="Data Recovery Icon" width="128" height="128"></p>
      </div>
    </div>
      <div class="row">
        <div class="small-12 columns"> 
         <h2>Productivity Suite Management</h2>
        <p>Do you want to streamline and make your business more effecient? <em>I like being prepared.</em> No business can survive without the basics: Productivity Software. I've deployed <strong>100+ computers with Microsoft Office</strong> and Google Apps for Business. In addition, email is the lifeline of many business transactions. I manage <strong>20+ clients</strong> legacy POP mail, Office 365, and Gmail. Did you go entirely digital? Most likely, you haven't. You still print documents out every day. I troubleshoot and deploy countless printers monthly.</p>  
        </div>
      </div>
    <div class="row">
      <div class="small-6 large-4 columns">
        <p class="align-center"><img src="https://www.builtbygoat.com/images/pencil.svg" alt="Microsoft Office Icon" width="128" height="128"></p>
      </div>
     <div class="small-6 large-4 columns">
        <p class="align-center"><img src="https://www.builtbygoat.com/images/mail.svg" alt="Hosted Exchange Icon" width="128" height="128"></p>
      </div>
      <div class="small-12 large-4 columns">
        <p class="align-center"><img src="https://www.builtbygoat.com/images/print.svg" alt="Multi-Function Printer Icon" width="128" height="128"></p>
      </div>
    </div>
       <div class="row">
        <div class="small-12 columns"> 
       <h2>Threat Management</h2>
        <p>Did you know that even if you aren't the target, you're still at risk? <em>I've got my propeller hat ready.</em> For clients with legal requirements, data encryption is a must. I deployed and protect <strong>25+ computers with Microsofts' BitLocker</strong>. Your first line of defence is keeping people out of your network. I've deployed 5+ VPN systems and manage <strong>30+ hardware-based firewall</strong> devices. Did you just open that attachment? Well, there's a program there to protect you. I manage a <strong>700+ device environment</strong> with Symantec Endpoint Protection (Cloud).</p>  
        </div>
      </div>
    <div class="row">
      <div class="small-6 large-4 columns">
        <p class="align-center"><img src="https://www.builtbygoat.com/images/key.svg" alt="Data Encryption Icon" width="128" height="128"></p>
      </div>
     <div class="small-6 large-4 columns">
        <p class="align-center"><img src="https://www.builtbygoat.com/images/shield.svg" alt="Firewall Icon" width="128" height="128"></p>
      </div>
      <div class="small-12 large-4 columns">
        <p class="align-center"><img src="https://www.builtbygoat.com/images/safety-cone.svg" alt="Anti-Virus Icon" width="128" height="128"></p>
      </div>
    </div>