{{!< default}}

      <div class="first row">
        <div class="large-12 columns">
          <h2 itemprop="articleSection" class="align-center">Photography</h2>
          <p itemprop="articleBody" class="align-center">Here are some of the photos that I've taken while on vacation.</p>
        </div>
      </div>
    <meta itemprop="url" content="https://www.builtbygoat.com/">
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="name" content="Brett Mahoney">
      <meta itemprop="homeLocation" content="United States">
    </span>
        <div class="hero cancun">
    <div class="row">
      <div class="small-12 large-12 columns">
         <h3 class="align-center">Cancun 2016 &#8594; <a href="https://www.builtbygoat.com/cancun/">View Here</a></h3>
      </div>
    </div>
    </div>