{{!< default}}
<!-- Resume -->
   <section class="section hero">
      <div class="container">
        <div class="columns" itemscope itemtype="http://schema.org/Article">
          <div class="column" itemprop="article">
            <h1 itemprop="articleSection" class="has-text-centered is-uppercase">Action Plan For My Career</h1>
            <p itemprop="articleBody">My goal is to work with a great <strong>IT team</strong>. A team I can <strong>add value</strong> to who values its' members and helps them advance. I strive to <strong>make technology </strong> more approachable and manageable.</p>   
          </div>
        </div>
        <span itemscope itemtype="http://schema.org/Person"> 
          <span itemprop="author">
            <meta itemprop="url" content="https://www.builtbygoat.com/">
            <meta itemprop="name" content="Brett Mahoney">
            <meta itemprop="homeLocation" content="United States">
          </span>
        </span>    
      </div>
    </section>
<section id=timeline>
	<div class="demo-card-wrapper">
		<div class="demo-card demo-card--step1">
			<div class="head">
				<div class="number-box">
					<span>01</span>
				</div>
				<h2><span class="small">July 2006 - July 2010</span> United States Army</h2>
			</div>
			<div class="body">
				<p>Served as a <strong>U.S. Army Intelligence</strong> specialist. Certified in <strong>intelligence collections</strong>.</p>
				<p class="timeline-img"><img src="https://www.builtbygoat.com/images/intel.png" alt="Military Intelligence Crest" width="70" height="71"></p>
			</div>
		</div>
		<div class="demo-card demo-card--step2">
			<div class="head">
				<div class="number-box">
					<span>02</span>
				</div>
				<h2><span class="small">December 2008 - November 2009</span> Afghanistan Deployment</h2>
			</div>
			<div class="body">
				<p>Deployed with U.S. Army Special Forces in Afghanistan as direct support. Part of my support role was <strong>biometrics collections</strong> and <strong>threat/vulnerability analysis</strong>.</p>
				<p class="timeline-img"><img src="https://www.builtbygoat.com/images/sf.gif" alt="Special Forces Logo" width="70" height="75"></p>
			</div>
		</div>
		<div class="demo-card demo-card--step1">
			<div class="head">
				<div class="number-box">
					<span>03</span>
				</div>
				<h2><span class="small">January 2011 - May 2014</span> University of Massachusetts Boston</h2>
			</div>
			<div class="body">
				<p>Graduated with a Bachelors of Science in <strong>International Management</strong> with a double minor in Economics and Honors. Managed small organizations, held training seminars, and have experience in sales and web marketing.</p>
				<p class="timeline-img"><img src="https://www.builtbygoat.com/images/umass.png" alt="UMass Boston Logo" width="70" height="91"></p>
			</div>
		</div>
		<div class="demo-card demo-card--step2">
			<div class="head">
				<div class="number-box">
					<span>04</span>
				</div>
				<h2><span class="small">September 2014 - MAy 2015</span> AppNeta</h2>
			</div>
			<div class="body">
				<p>Proactively developed a Sales Binder to help develop sales skills. Develop prospect pool for Account Executives. <strong>Produced short use-case material</strong>. Scripted in Selenium to test prospects' web applications. <strong>Produced web performance reports</strong> to aid Sales Executives.</p>
				<p class="timeline-img"><img src="https://www.builtbygoat.com/images/appneta.svg" alt="UMass Boston Logo" width="200" height="75"></p>
			</div>
		</div>
	  <div class="demo-card demo-card--step1">
			<div class="head">
				<div class="number-box">
					<span>05</span>
				</div>
				<h2><span class="small">December 2015 - October 2018</span> Fairoaks IT</h2>
			</div>
			<div class="body">
				<p>Worked in a <strong>900+ device environment across 50+ clients</strong>. Set up and configure Windows-based computers and tablets for clients. Manage website and DNS changes for clients. Monitored and mitigated security and virus threats. Maintained operating system patch management and third-party application updates. Tracked and annotated all technical solutions in CRM software for auditing purposes. <strong>Developed detailed Standard Operating Procedure</strong> manuals to aid in training and process management. Tracked and maintained network infrastructure and back up systems.</p>
				<p class="timeline-img"><img src="https://www.builtbygoat.com/images/fairoaks.png" alt="Fairoaks IT Logo" width="140" height="183"></p>
			</div>
		</div>
		<div class="demo-card demo-card--step2">
			<div class="head">
				<div class="number-box">
					<span>06</span>
				</div>
				<h2><span class="small">February 2016</span> Comptia A+</h2>
			</div>
			<div class="body">
				<p class="timeline-img"><img src="https://www.builtbygoat.com/images/aplus.png" alt="Comptia A+ Certification" width="70" height="69"></p>
			</div>
		</div>
		<div class="demo-card demo-card--step1">
			<div class="head">
				<div class="number-box">
					<span>07</span>
				</div>
				<h2><span class="small">November 2016</span> Microsoft Certified Professional</h2>
			</div>
			<div class="body">
				<p class="timeline-img"><img src="https://www.builtbygoat.com/images/mcp.png" alt="Microsoft Certified Professional" width="111" height="72"></p>
			</div>
		</div>
    <div class="demo-card demo-card--step2">
			<div class="head">
				<div class="number-box">
					<span>08</span>
				</div>
				<h2><span class="small">July 2017</span> SonicWALL Network Security Basic Administration</h2>
			</div>
			<div class="body">
				<p class="timeline-img"><img src="https://www.builtbygoat.com/images/sonicwall.png" alt="Certified SonicWall Security Administrator" width="200" height="32" class="sonic"></p>
			</div>
		</div>
    <div class="demo-card demo-card--step1">
			<div class="head">
				<div class="number-box">
					<span>09</span>
				</div>
				<h2><span class="small">May 2018</span> SonicWALL Network Security Advanced Administration</h2>
			</div>
			<div class="body">
				<p class="timeline-img"><img src="https://www.builtbygoat.com/images/sonicwall.png" alt="Certified SonicWall Security Administrator" width="200" height="32" class="sonic"></p>
			</div>
		</div>
    <div class="demo-card demo-card--step2">
			<div class="head">
				<div class="number-box">
					<span>10</span>
				</div>
				<h2><span class="small">November 2018 - Present</span> Northland Investment Corporation</h2>
			</div>
			<div class="body">
				<p>Set up and deploy desktops, laptops, and cell phones to corporate and remote sites. Schedule and manage onboarding of new employees. Assist in the overhaul of corporate wireless infrastructure. Troubleshoot Tier 2-3 technical issues.</p>
        <p class="timeline-img"><img src="https://www.builtbygoat.com/images/northland.png" alt="Northland Investment Corporation" width="200" height="55" class="sonic"></p>
			</div>
		</div>
	</div>
</section>