{{!< default}}
  <div class="row">
      <div class="small-12 columns">
        <h1 itemprop="articleSection" class="align-center">Action Plan</h1>
        <p itemprop="articleBody">I intend to work for a great <strong>IT team</strong>. A team I can <strong>add value</strong> to. A team that values its' members and advances them. I want to <strong>make technology easier</strong> to approach and manage. Ensuring technical needs are met is a key way to improve productivity for a company.</p>
        </div>
     </div>
      <div class="row">
        <div class="small-12 columns">
          <h2>Historical Overview</h2>
          <p>I am an <strong>Army Intelligence Veteran</strong>, with one tour in Afghanistan. From my Army career, I was certified in <strong>intelligence collections</strong>, <strong>biometrics collections</strong>, and <strong>threat/vulnerability analysis</strong>. I have a Bachelors of Science in <strong>International Management</strong> with minors in Economics and Honors. I have <strong>managed small organizations</strong>, held training seminars, and have experience in <strong>sales and web marketing</strong>. Lastly, I currently support <strong>Windows environments</strong> for clients.</p>
        </div>
      </div>
    <div class="row">
      <div class="small-12 large-4 columns">
        <p class="align-center"><amp-img src="https://www.builtbygoat.com/images/intel.png" alt="Military Intelligence Crest" width="140" height="142"></amp-img></p>
      </div>
      <div class="small-12 large-4 columns">
        <p class="align-center"><amp-img src="https://www.builtbygoat.com/images/sf.gif" alt="Special Forces Logo" width="140" height="150"></amp-img></p>
      </div>
      <div class="small-12 large-4 columns">
        <p class="align-center"><amp-img src="https://www.builtbygoat.com/images/umass.png" alt="UMass Boston Logo" width="140" height="183"></amp-img></p>
      </div>
    </div>
    <meta itemprop="url" content="https://www.builtbygoat.com/">
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="name" content="Brett Mahoney">
      <meta itemprop="homeLocation" content="United States">
    </span>
      <div class="row">
        <div class="small-12 columns"> 
          <h2>Technical Knowledge</h2>
          <p>I am <strong>CompTIA A+</strong> certified and a <strong>Microsoft Certified Professional</strong>. My main focus is Windows-based environments from <strong>desktops to servers</strong>. Additionally, my self-taught web development knowledge encompasses HTML5, CSS3, JavaScript, and Linux server administration. I am a <strong>Certified SonicWall Security Administrator</strong>. I am activtely developing my knowledge in <strong>CompTIA Network+</strong> and <strong>CompTIA Security+</strong>.</p>  
        </div>
      </div>
    <div class="row">
      <div class="small-12 large-4 columns">
        <p class="align-center"><amp-img src="https://www.builtbygoat.com/images/aplus.png" alt="Comptia A+ Certification" width="140" height="137"></amp-img></p>
      </div>
     <div class="small-12 large-4 columns">
        <p class="align-center"><amp-img src="https://www.builtbygoat.com/images/mcp.png" alt="Microsoft Certified Professional" width="223.4" height="146.6"></amp-img></p>
      </div>
      <div class="small-12 large-4 columns">
        <p class="align-center"><amp-img src="https://www.builtbygoat.com/images/sonicwall.png" alt="Certified SonicWall Security Administrator" width="250" height="40" class="sonic"></amp-img></p>
      </div>
    </div>
      <div class="row">
        <div class="small-12 columns">
          <h2>My Work and Passion</h2>
          <p>I am driven to <strong>Windows support, network security practices,</strong> and <strong>web development</strong>. I dig in, research ideas, and produce quality results. When I am not at work, I can be found tinkering with electronics and playing video games. Below is a list of what I've done or am currently working on.</p>
        </div>
      </div>
    <div class="row">
      <div class="small-12 large-4 columns">
        <p class="align-center"><a href="https://www.freecodecamp.org/kaiserhase/" target="_blank" rel="noopener"><amp-img src="https://www.builtbygoat.com/images/fcc.svg" alt="Free Code Camp Website" width="256" height="64"></amp-img></a></p>
      </div>
    <div class="small-12 large-4 columns">
        <p class="align-center"><a href="https://www.codecademy.com/kaiserhase/" target="_blank" rel="noopener"><amp-img src="https://www.builtbygoat.com/images/codecademy.svg" alt="Codecademy Website" width="256" height="64"></amp-img></a></p>
      </div>
    <div class="small-12 large-4 columns">
        <p class="align-center"><a href="https://www.fairoaksit.com/" target="_blank" rel="noopener"><amp-img src="https://www.builtbygoat.com/images/fairoaks.png" alt="Fairoaks IT Website" width="247" height="64"></amp-img></a></p>
      </div>
    </div>