{{!< default}} 
<div id="fullpage" data-swiftype-name="body">
  <div class="section background">
    <div class="col-xs-12">
      <p class="text-center h2">
        <img data-gender="male" data-src="https://www.builtbygoat.com/assets/fonts/person.svg" src="https://www.builtbygoat.com/assets/fonts/person.svg" class="iconic iconic-md" alt="" />
      </p>
      <h1 class="text-center">
        Outline
      </h1>
      <p class="text-justify h6">
        I am an <strong>Army Intellence Veteran</strong>, with one tour in Afghanistan. I have a Bachelors of Science in <strong>International Management</strong> with minors in Economics and Honors. I have <strong>managed small organizations</strong>, held training seminars, and have experience in <strong>sales and web marketing</strong>. Lastly, I currently support <strong>Windows environments</strong> for clients.
      </p>
    </div>
  </div>
  <div class="section alt">
    <p class="text-center h2">
      <img data-src="https://www.builtbygoat.com/assets/fonts/medal.svg" src="https://www.builtbygoat.com/assets/fonts/medal.svg" class="iconic iconic-md" alt="" />
    </p>
    <p class="text-center h3">
      Certifications and Honors
    </p>
    <p class="text-justify h6">From my Army career, I was certified in <strong>intelligence collections, biometrics collections, and threat/vulnerability analysis</strong>. I have worked in a pre-sales environment and hold Hubspots' <strong>Inbound Marketing</strong> certification.
    </p>
  </div>
  <div class="section">
    <p class="text-center h2">
      <img src="https://www.builtbygoat.com/assets/images/aplus.png" class="img-responsive center-block" alt="Comptia A+ Certification" />
    </p>
    <p class="text-center h4">Certification valid through <strong>February 2019</strong>.</p>
  </div>
  <div class="section alt">
    <p class="text-center h2">
       <img src="https://www.builtbygoat.com/assets/images/hubspot.png" class="img-responsive center-block" alt="Hubspot Inbound Marketing Certification" />
    </p>
    <p class="text-center h4">Certification valid through <strong>December 2016</strong>.</p>
  </div>
  <div class="section">
    <p class="text-center h2">
      <img data-src="https://www.builtbygoat.com/assets/fonts/lightbulb.svg" src="https://www.builtbygoat.com/assets/fonts/lightbulb.svg" class="iconic iconic-md" alt="" />
    </p>
    <p class="text-center h3">
      Areas of Knowledge.
    </p>
    <p class="text-justify h6">
      I am self-taught in <strong>HTML5, CSS3, Javascript, and AngularJS</strong>. Additionally, I am experienced in <strong>Linux</strong> server management and git versioning. Lastly, I have an intermediate knowledge of network and <strong>systems administration</strong>. I am currently working towards <strong>Network+ and Security+</strong> certifications.
    </p>
  </div>
  <div class="section alt">
    <p class="text-center h3">If you'd like to see what I've done &rarr; check out <a href="/projects/">my projects</a>.</p>
  </div>
</div>
{{>arrow}}