{{!< default}} 
      <div class="first row">
        <div class="large-12 columns">
          <h2 class="align-center">Privacy</h2>
          <p class="align-center">I use analytics to improve this website.</p>
        </div>
      </div>
    </div>
<div class="hero privacy">
    <div class="row">
      <div class="large-12 columns">
        <p class="align-justify privacy-lh">My <a href="http://www.ghost.org" target="_blank"><amp-img src="https://www.builtbygoat.com/images/ghost.svg" height="50" width="140" alt="Ghost"></amp-img></a> based website is hosted on <a href="https://m.do.co/c/e0a826f71e18" target="_blank"><amp-img src="https://www.builtbygoat.com/images/do.png" height="30" width="170" alt="Digital Ocean"></amp-img></a>, cached on <a href="http://www.cloudflare.com/" target="_blank"><amp-img src="https://www.builtbygoat.com/images/cf.svg" height="50" width="150" alt="Cloudflare"></amp-img></a>, with analytics from <a href="https://www.hotjar.com/r/r9a2a" target="_blank"><amp-img src="https://www.builtbygoat.com/images/hj.png" height="48" width="100" alt="Hotjar"></amp-img></a> and <a href="http://www.sumome.com/" target="_blank"><amp-img src="https://www.builtbygoat.com/images/sm.png" height="50" width="200" alt="SumoMe"></amp-img></a>. Combined, I am able to see security threats and website performance data.</p>
        </div>
    </div>
        </div> 
      <div class="row">
        <div class="large-12 columns">
          <h4 class="align-center">To prevent this tracking, check out <a href="https://en.wikipedia.org/wiki/UBlock_Origin" target="_blank">uBlock Origin</a>.</h4>
        </div>
      </div>

