{{!< default}}

      <div class="row">
        <div class="small-12 columns">
          <h2 itemprop="articleSection" class="align-center">Cancun 2016</h2>
          <p itemprop="articleBody" class="align-center">This is a short gallery of my trip to Cancun, Mexico in December 2016.</p>
        </div>
      </div>
    <meta itemprop="url" content="https://www.builtbygoat.com/">
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="name" content="Brett Mahoney">
      <meta itemprop="homeLocation" content="United States">
    </span>
    <div class="row">
        <div class="small-12 columns"> 
          <p class="align-center"><amp-img src="https://www.builtbygoat.com/images/mexico1.jpg" height="256" width="192" alt="Cancun Photo"></amp-img> <amp-img src="https://www.builtbygoat.com/images/mexico7.jpg" height="256" width="192" alt="Cancun Photo"></amp-img> <amp-img src="https://www.builtbygoat.com/images/mexico13.jpg" height="256" width="192" alt="Cancun Photo"></amp-img>
          <amp-img src="https://www.builtbygoat.com/images/mexico2.jpg" height="256" width="192" alt="Cancun Photo"></amp-img> <amp-img src="https://www.builtbygoat.com/images/mexico8.jpg" height="192" width="256" alt="Cancun Photo"></amp-img> <amp-img src="https://www.builtbygoat.com/images/mexico14.jpg" height="256" width="192" alt="Cancun Photo"></amp-img>
          <amp-img src="https://www.builtbygoat.com/images/mexico3.jpg" height="192" width="256" alt="Cancun Photo"></amp-img> <amp-img src="https://www.builtbygoat.com/images/mexico9.jpg" height="192" width="256" alt="Cancun Photo"></amp-img> <amp-img src="https://www.builtbygoat.com/images/mexico15.jpg" height="256" width="192" alt="Cancun Photo"></amp-img>
          <amp-img src="https://www.builtbygoat.com/images/mexico4.jpg" height="256" width="192" alt="Cancun Photo"></amp-img> <amp-img src="https://www.builtbygoat.com/images/mexico10.jpg" height="256" width="192" alt="Cancun Photo"></amp-img> <amp-img src="https://www.builtbygoat.com/images/mexico16.jpg" height="256" width="192" alt="Cancun Photo"></amp-img>
          <amp-img src="https://www.builtbygoat.com/images/mexico5.jpg" height="256" width="192" alt="Cancun Photo"></amp-img> <amp-img src="https://www.builtbygoat.com/images/mexico11.jpg" height="192" width="256" alt="Cancun Photo"></amp-img> <amp-img src="https://www.builtbygoat.com/images/mexico17.jpg" height="192" width="256" alt="Cancun Photo"></amp-img>
          <amp-img src="https://www.builtbygoat.com/images/mexico6.jpg" height="256" width="192" alt="Cancun Photo"></amp-img> <amp-img src="https://www.builtbygoat.com/images/mexico12.jpg" height="192" width="256" alt="Cancun Photo"></amp-img> <amp-img src="https://www.builtbygoat.com/images/mexico18.jpg" height="256" width="192" alt="Cancun Photo"></amp-img></p>
        </div>
        </div>