{{!< default}}
<!-- Site Map -->
<section class="section has-text-centered hero">
  <div class="container" itemscope itemtype="http://schema.org/Article">
    <div class="columns" itemprop="article">
      <div class="column">
        <h1 itemprop="articleSection">Site Map</h1>
        <p itemprop="articleBody">Trying to find your way around my website? Look no further!</p>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h2 class="is-uppercase">Navigation</h2>
        <ul>
          <li><a href="https://www.builtbygoat.com/support/">Get Support</a></li>
          <li><a href="https://www.builtbygoat.com/resume/">My Resume</a></li>
          <li><a href="https://www.builtbygoat.com/technical/">About Site</a></li>
          <li><a href="https://www.builtbygoat.com/sitemap/">Site Map</a></li>
        </ul>
        <h2 class="is-uppercase">Categories</h2>
        <ul>
          <li><a href="https://www.builtbygoat.com/tag/technology/">Technology</a></li>
          <li><a href="https://www.builtbygoat.com/tag/general/">General</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>