{{!< default}} 
<!-- Technical -->
  <section class="section hero">
      <div class="container">
        <div class="columns" itemscope itemtype="http://schema.org/Article">
          <div class="column has-text-centered" itemprop="article">
            <h1 itemprop="articleSection" class="is-uppercase">A Backgrounder To My Site</h1>
            <p itemprop="articleBody">I have slowly curated my site using various technologies and practices.</p>   
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h2 class="is-uppercase">With A Clean Start</h2>
            <p>I host my <strong>Ghost Blog</strong> on <strong>Digital Ocean</strong>. I use <strong>Cloudflare</strong> to speed up the delivery of my website. Lastly, I use <strong>Google Analytics</strong> to learn more about my visitors. For the price (and in most cases, free), you can't beat this trio. Easy to implement and even easier to maintain.</p>
          </div>
        </div>
      </div>
    </section>    
    <section class="section">
      <div class="container">
        <div class="columns has-text-centered">
          <div class="column">
            <p><a href="https://ghost.org/" target="_blank" rel="noopener"><img src="https://www.builtbygoat.com/images/ghost.svg" height="100" width="280" alt="Ghost Blog Website"></a></p>
          </div>
          <div class="column">
            <p><a href="https://m.do.co/c/e0a826f71e18" target="_blank" rel="noopener"><img src="https://www.builtbygoat.com/images/do.png" class="digital-ocean" height="53" width="300" alt="Digital Ocean Website"></a></p>
          </div>
          <div class="column">
            <p><a href="https://www.cloudflare.com/" target="_blank" rel="noopener"><img src="https://www.builtbygoat.com/images/cf.svg" height="92" width="250" alt="Cloudflare Website"></a></p>
          </div>
        </div>
      </div>
    </section>    
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h2 class="is-uppercase">From The Ground Up</h2>
            <p>I run on an <strong>Ubuntu</strong> 16.04 server with a <strong>NodeJS</strong>-based content management system. The majority of my pages are static, built with <strong>CSS3</strong>, <strong>HTML5</strong> with Zurb's <strong>Foundation 5</strong> framework, and Google's <strong>Accelerated Mobile Pages Project</strong>. This website emphasizes minimalist design that is easy to follow and navigate. As much as this website is about me, it is about the technology behind it.</p>
          </div>
        </div>
      </div>
    </section>    
    <section class="section">
      <div class="container">
        <div class="columns has-text-centered">
          <div class="column">
            <p><img src="https://www.builtbygoat.com/images/css.svg" height="64" width="45" alt="CSS3 Logo"></p>
          </div>
          <div class="column">
            <p><img src="https://www.builtbygoat.com/images/html.svg" height="91" width="68" alt="HTML5 Logo"></p>
          </div>
          <div class="column">
            <p><img src="https://www.builtbygoat.com/images/amp.svg" height="60" width="175" alt="Google AMP Logo"></p>
          </div>
        </div>
      </div>
    </section>  
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h2 class="is-uppercase">And Proper Planning</h2>
            <p>A major focus of the development of my portfolio is to maintain a <strong>cleanly organized</strong> website. I attempt to ensure the functionality of the website with Google's <strong>Webmaster Console</strong>. Additionally, I embedded <strong>search engine optimization</strong> techniques with <strong>MozBar</strong>. While not perfect, I have attempted to make my website accessible by following <strong>a11y</strong> practices.</p>
          </div>
        </div>
      </div>
    </section>    
  