{{!< default}} 
      <div class="row">
      <div class="small-12 columns">
        <h2 itemprop="articleSection" class="align-center">Foiled By A Gap In Your IT Team?</h2>
        <p itemprop="articleBody">Hire a tried and tested support engineer with experience for your company in Massachusetts or Rhode Island – Brett Mahoney.</p>
        </div>
     </div>
     <div class="row">
      <div class="small-12 large-6 columns sup">
        <h3 class="align-center">Windows Environment Management</h4>
        <h4>Is your office device ecosystem primarily Windows? <em>I'm a Windows fanatic.</em></h5>
        <div class="row"><div class="small-12 large-2 columns"><p class="align-center"><amp-img src="https://www.builtbygoat.com/images/laptop.svg" alt="Laptop Icon" width="64" height="64"></amp-img></p></div>
        <div class="small-12 large-10 columns"><p>40-point checklist for system setup, tailored to client needs. <em>I've set up over 100 Windows-based computers.</em></p></div></div>
        <div class="row"><div class="small-12 large-2 columns"><p class="align-center"><amp-img src="https://www.builtbygoat.com/images/monitor.svg" alt="Desktop Icon" width="64" height="64"></amp-img></p> </div>
        <div class="small-12 large-10 columns"><p>Standardized equipment purchase purpose-built for business demands. <em>I've purchased computers meant for Accounting, CAD, and Productivity software.</em></p></div></div>
        <div class="row"><div class="small-12 large-2 columns"><p class="align-center"><amp-img src="https://www.builtbygoat.com/images/cloud.svg" alt="Server Icon" width="64" height="64"></amp-img></p></div>
        <div class="small-12 large-10 columns"><p>Permissions-based data sharing for access control. <em>I manage 15+ clients company shares.</em></p></div></div>
        </div>
      <div class="small-12 large-6 columns sup">
        <h3 class="align-center">Disaster Recovery Management</h4>
        <h4>Are you ready for when your employees devices fail? <em>I'm a bit OCD about data.</em></h5>
        <div class="row"><div class="small-12 large-2 columns"><p class="align-center"><amp-img src="https://www.builtbygoat.com/images/calendar.svg" alt="Training Icon" width="64" height="64"></amp-img></p></div>
        <div class="small-12 large-10 columns"><p>The first step to protecting data is employee training. <em>I've written up a 10+ easy-to-understand training PowerPoints.</em></p> </div></div>
        <div class="row"><div class="small-12 large-2 columns"><p class="align-center"><amp-img src="https://www.builtbygoat.com/images/usb.svg" alt="Backup Icon" width="64" height="64"></amp-img></p> </div>
        <div class="small-12 large-10 columns"><p>Don't lose your data: Use a proper backup solution. <em>I manage 30+ backup systems.</em></p> </div></div>
        <div class="row"><div class="small-12 large-2 columns"><p class="align-center"><amp-img src="https://www.builtbygoat.com/images/page-export-doc.svg" alt="Data Recovery Icon" width="64" height="64"></amp-img></p></div>
        <div class="small-12 large-10 columns"><p>You'll need to recover deleted data sometime. <em>I have restored data in minutes for clients critical projects.</em></p></div></div>
        </div>
     </div>
      <div class="row">
      <div class="small-12 large-6 columns sup">
        <h3 class="align-center">Productivity Suite Management</h4>
        <h4>Do you want to streamline and make your business more effecient? <em>I like being prepared.</em></h5>
        <div class="row"><div class="small-12 large-2 columns"><p class="align-center"><amp-img src="https://www.builtbygoat.com/images/pencil.svg" alt="Microsoft Office Icon" width="64" height="64"></amp-img></p></div>
        <div class="small-12 large-10 columns"><p>No business can survive without the basics: Productivity Software. <em>I've deployed 100+ computers with Microsoft Office and Google Apps for Business.</em></p></div></div>
        <div class="row"><div class="small-12 large-2 columns"><p class="align-center"><amp-img src="https://www.builtbygoat.com/images/mail.svg" alt="Hosted Exchange Icon" width="64" height="64"></amp-img> </p></div>
        <div class="small-12 large-10 columns"><p>Email is the lifeline of many business transactions. <em>I manage 5+ clients off legacy POP mail to Office 365, including data migration.</em></p></div></div>
        <div class="row"><div class="small-12 large-2 columns"><p class="align-center"><amp-img src="https://www.builtbygoat.com/images/print.svg" alt="Multi-Function Printer Icon" width="64" height="64"></amp-img></p></div>
        <div class="small-12 large-10 columns"><p>Go Digital? Nope. You still print documents out every day. <em>I troubleshoot and deploy countless printers monthly.</em></p></div></div>
        </div>
      <div class="small-12 large-6 columns sup">
        <h3 class="align-center">Threat Management</h4>
        <h4>Did you know that even if you aren't the target, you're still at risk? <em>I've got my propeller hat ready.</em></h5>
        <div class="row"><div class="small-12 large-2 columns"><p class="align-center"><amp-img src="https://www.builtbygoat.com/images/key.svg" alt="Data Encryption Icon" width="64" height="64"></amp-img></p></div>
        <div class="small-12 large-10 columns"><p>For clients with legal requirements, data encryption is a must. <em>I deployed and protect 25+ computers with Microsofts' BitLocker.</em></p></div></div>
        <div class="row"><div class="small-12 large-2 columns"><p class="align-center"><amp-img src="https://www.builtbygoat.com/images/shield.svg" alt="Firewall Icon" width="64" height="64"></amp-img></p></div>
        <div class="small-12 large-10 columns"><p>Your first line of defence is keeping people out of your network. <em>I've deployed 5+ VPN systems and manage 30+ hardware-based firewall devices.</em></p></div></div>
        <div class="row"><div class="small-12 large-2 columns"><p class="align-center"><amp-img src="https://www.builtbygoat.com/images/safety-cone.svg" alt="Anti-Virus Icon" width="64" height="64"></amp-img></p></div>
        <div class="small-12 large-10 columns"><p>Did you just open that attachment? Well, there's a program there to protect you. <em>I manage a 700+ device environment with Symantec Endpoint Protection (Cloud).</em></p></div></div>
        </div>
     </div>
  