{{!< default}} 
<div id="fullpage" data-swiftype-name="body">
  <div class="section privacy">
    <h1 class="text-center">
      Privacy Pledge
    </h1>
    <p class="text-center h3">
      I only use analytics to improve this website.
    </p>
  </div>
  <div class="section alt">
    <p class="text-center h2">
      <img data-src="https://www.builtbygoat.com/assets/fonts/eye.svg" src="https://www.builtbygoat.com/assets/fonts/eye.svg" class="iconic iconic-md" alt="Eye Icon" />
    </p>
    <p class="text-center h3">
      What and Why?
    </p>
    <p class="text-center h6">
      I use <a href="https://www.hotjar.com/r/r9a2a" target="_blank">Hotjar</a> and <a href="http://www.cloudflare.com" target="_blank">Cloudflare</a>. Combined, I am able to see security threats and website performance data. To prevent this tracking, check out <a href="https://github.com/gorhill/uBlock" target="_blank">uBlock Origin</a>.
    </p>
  </div>
  <div class="section fp-auto-height">
    {{>footer}}
  </div>
</div>
{{>arrow}}