{{!< default}}

      <div class="first row">
        <div class="large-12 columns">
        <p class="align-center"><amp-img src="https://www.builtbygoat.com/images/brett.jpg" itemprop="image" height="320" width="320" class="img-circle" alt="Brett Mahoney"></amp-img></p>

          <h2 itemprop="articleSection" class="align-center">Historical Overview</h2>
          <p itemprop="articleBody">I am an <strong>Army Intelligence Veteran</strong>, with one tour in Afghanistan. From my Army career, I was certified in <strong>intelligence collections, biometrics collections, and threat/vulnerability analysis</strong>. I have a Bachelors of Science in <strong>International Management</strong> with minors in Economics and Honors. I have <strong>managed small organizations</strong>, held training seminars, and have experience in <strong>sales and web marketing</strong>. Lastly, I currently support <strong>Windows environments</strong> for clients.</p>
        </div>
      </div>
    <div class="hero index">
    <div class="row">
      <div class="small-12 large-4 columns">
        <p class="align-center"><amp-img src="https://www.builtbygoat.com/images/intel.png" alt="Military Intelligence" width="140" height="142"></amp-img></p>
      </div>
      <div class="small-12 large-4 columns">
        <p class="align-center"><amp-img src="https://www.builtbygoat.com/images/sf.gif" alt="Special Forces" width="140" height="150"></amp-img></p>
      </div>
      <div class="small-12 large-4 columns">
        <p class="align-center"><amp-img src="https://www.builtbygoat.com/images/umass.png" alt="UMass Boston" width="140" height="183"></amp-img></p>
      </div>
    </div>
    </div>
    <meta itemprop="url" content="https://www.builtbygoat.com/">
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="name" content="Brett Mahoney">
      <meta itemprop="homeLocation" content="United States">
    </span>
      <div class="row">
        <div class="large-12 columns"> 
          <h3 class="align-center">Technical Knowledge</h3>
          <p>I am self-taught in <strong>HTML5, CSS3, Javascript, and AngularJS</strong>. Additionally, I am experienced in <strong>Linux</strong> server management and git versioning. Lastly, I have an intermediate knowledge of network and <strong>systems administration</strong>. I am currently working towards <strong>Network+ and Security+</strong> certifications.</p>  
        </div>
      </div>
    <div class="hero experience">
    <div class="row">
      <div class="small-12 large-4 columns">
        <p class="align-center"><amp-img src="https://www.builtbygoat.com/images/aplus.png" alt="Comptia A+" width="140" height="137"></amp-img></p>
      </div>
     <div class="small-12 large-4 columns">
        <p class="align-center"><amp-img src="https://www.builtbygoat.com/images/hubspot.png" alt="Hubspot Inbound" width="263.75" height="95"></amp-img></p>
      </div>
     <div class="small-12 large-4 columns">
        <p class="align-center"><amp-img src="https://www.builtbygoat.com/images/hubspot2.png" alt="Hubspot Design" width="263.75" height="95"></amp-img></p>
      </div>
    </div>
    </div>
      <div class="row">
        <div class="large-12 columns">
          <h4 class="title align-center">My Work and Passion</h4>
          <p>I am knowledgeable in Windows technologies. I'm also self-taught in web development and web marketing. I dig in, research ideas, and produce quality results. Below is a list of what I've done or am currently working on.</p>
        </div>
      </div>
    <div class="hero projects">
    <div class="row">
      <div class="small-12 large-4 columns">
        <p class="align-center"><a href="https://www.freecodecamp.com/kaiserhase/" target="_blank"><amp-img src="https://www.builtbygoat.com/images/fcc.svg" alt="Free Code Camp" width="256" height="64"></amp-img></a></p>
      </div>
    <div class="small-12 large-4 columns">
        <p class="align-center"><a href="https://www.freecodecamp.com/kaiserhase/" target="_blank"><a href="https://www.codecademy.com/kaiserhase/" target="_blank"><amp-img src="https://www.builtbygoat.com/images/codecademy.svg" alt="Codecademy" width="256" height="64"></amp-img></a></p>
      </div>
    <div class="small-12 large-4 columns">
        <p class="align-center"><a href="https://www.freecodecamp.com/kaiserhase/" target="_blank"><a href="https://www.fairoaksit.com/" target="_blank"><amp-img src="https://www.builtbygoat.com/images/fairoaks.png" alt="Fairoaks IT" width="247" height="64"></amp-img></a></p>
      </div>
    </div>
    </div>
      <div class="row">
        <div class="large-12 columns">
          <h4 class="align-center">When in doubt, read my <a href="https://www.linkedin.com/in/mahoneybm/" target="_blank">LinkedIn</a> profile &#8594;</h4>
        </div>
      </div>
