{{!< default}}
<!-- Resume -->
   <section class="section hero">
      <div class="container">
        <div class="columns"itemscope itemtype="http://schema.org/Article">
          <div class="column"itemprop="article">
            <h1 itemprop="articleSection" class="has-text-centered is-uppercase">Action Plan For My Career</h1>
            <p itemprop="articleBody">My goal is to work with a great <strong>IT team</strong>. A team I can <strong>add value</strong> to who values its' members and helps them advance. I strive to <strong>make technology </strong> more approachable and manageable.</p>   
          </div>
        </div>
        <span itemscope itemtype="http://schema.org/Person"> 
          <span itemprop="author">
            <meta itemprop="url" content="https://www.builtbygoat.com/">
            <meta itemprop="name" content="Brett Mahoney">
            <meta itemprop="homeLocation" content="United States">
          </span>
        </span>    
      </div>
    </section>
    <section class="section has-text-centered">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h3>July 2006 - July 2010</h3>
            <p><img src="https://www.builtbygoat.com/images/intel.png" alt="Military Intelligence Crest" width="140" height="142"></p>
            <p>Served as a <strong>U.S. Army Intelligence</strong> specialist. Certified in <strong>intelligence collections</strong>.</p>
          </div>
        </div>
      </div>
    </section>   
    <section class="section has-text-centered">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h3>December 2008 - November 2009</h3>
            <p><img src="https://www.builtbygoat.com/images/sf.gif" alt="Special Forces Logo" width="140" height="150"></p>
            <p>Deployed with U.S. Army Special Forces in Afghanistan as direct support. Part of my support role was <strong>biometrics collections</strong> and <strong>threat/vulnerability analysis</strong>.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="section has-text-centered">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h3>January 2011 - May 2014</h3>
            <p><img src="https://www.builtbygoat.com/images/umass.png" alt="UMass Boston Logo" width="140" height="183"></p>
            <p>Bachelors of Science in <strong>International Management</strong> with a double minor in Economics and Honors. Managed small organizations, held training seminars, and have experience in sales and web marketing.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="section has-text-centered">
      <div class="container">
        <div class="columns">
          <div class="column">
             <h3>2015-2016</h3>
             <p><a href="https://www.codecademy.com/kaiserhase/" target="_blank" rel="noopener"><img src="https://www.builtbygoat.com/images/codecademy.svg" alt="Codecademy Website" width="256" height="64"></a></p>
             <p>Front-End, Server-Side Design, and Database programming.</p>
           </div>
        </div>
      </div>
    </section>
    <section class="section has-text-centered">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h3>2015 - 2016</h3>
            <p><a href="https://www.freecodecamp.org/kaiserhase/" target="_blank" rel="noopener"><img src="https://www.builtbygoat.com/images/fcc.svg" alt="Free Code Camp Website" width="256" height="64"></a></p>
            <p>Front-End Web Design and Programming.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="section has-text-centered">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h3>December 2015 - Present</h3>
            <p><a href="https://www.fairoaksit.com/" target="_blank" rel="noopener"><img src="https://www.builtbygoat.com/images/fairoaks.png" alt="Fairoaks IT Website" width="247" height="64"></a></p>
            <p>Technical support specialist for Fairoaks IT. Main focus is Windows-based environments from <strong>desktops to servers</strong>. Also support MacOS and iOS environment.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="section has-text-centered">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h3>February 2016</h3>
            <p><img src="https://www.builtbygoat.com/images/aplus.png" alt="Comptia A+ Certification" width="140" height="137"></p>
            <p>PC hardware and peripherals, mobile device hardware, networking and troubleshooting hardware and network connectivity issues. Installing and configuring operating systems including Windows, iOS, Android, Apple OS X and Linux. It also addresses security, the fundamentals of cloud computing and operational procedures.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="section has-text-centered">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h3>November 2016</h3>
            <p><img src="https://www.builtbygoat.com/images/mcp.png" alt="Microsoft Certified Professional" width="223" height="147"></p>
            <p>Microsoft Windows 10 70-697: Configuring Windows Devices.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="section has-text-centered">
      <div class="container">
        <div class="columns">
          <div class="column">           
            <h3>July 2017</h3>
            <p><img src="https://www.builtbygoat.com/images/sonicwall.png" alt="Certified SonicWall Security Administrator" width="250" height="40" class="sonic"></p>
            <p>Designing, implementing, and troubleshooting SonicWall Network Security Appliances running SonicOS firmware.</p>
          </div>
        </div>
      </div>
    </section>